/* Body */
body {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-areas:
        "a b"
        "c c"
        "d d";
        grid-template-rows: auto auto 1fr;
        grid-template-columns: auto 1fr;
}

/* Keyboard & mouse display */
#SECTION_keyboardMouseDisplay {
    grid-area: a;

    height: fit-content;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightpink;
}

/* Display settings */
#SECTION_displaySettings {
    grid-area: b;

    flex: 1;
    background-color: aquamarine;
}

/* Filter bar */
#SECTION_filterBar {
    grid-area: c;

    display: flex;
    background-color: lightsteelblue;
}

/* Shortcuts list */
#SECTION_shortcutsList {
    grid-area: d;

    flex: 1;
    background-color: lightgreen;
}
