/* Body */
body {
    height: 100vh;
    margin: 0;

    display: flex;
}


/* Display & settings */
#displaySections {
    width: fit-content;

    display: flex;
    flex-direction: column;
}

#keyboardMouseDisplaySection {
    height: fit-content;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightpink;
}

#displaySettings {
    flex: 1;
    background-color: aquamarine;
}


/* Filters & shortcuts list */
#shortcutsSections {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#filterBar {
    display: flex;
    background-color: lightsteelblue;
}

#shortcutsList {
    flex: 1;
    background-color: lightgreen;
}
