/* Temp */
div {
    min-width: 10px;
    min-height: 10px;
    /* padding: 10px; */
    /* margin: 1px; */
    background-color: rgba(0, 0, 0, 0.05);
}

.displayRow {
    background-color: lightcoral;
}
.displayInput:nth-child(even) {
    background-color: royalblue;
}
.displayInput:nth-child(odd) {
    background-color: rgb(55, 93, 207);
}


/* Body */
body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
}


/* Keyboard & mouse display */
#keyboardMouseDisplay {
    --key-side-length: clamp(20px, 3.5vw, 35px);
    --gap-length: calc(var(--key-side-length) / 3);

    position: relative;
    top: 25px;
    width: fit-content;
    height: fit-content;

    display: grid;
    grid-template-areas:
        "func nav .      ."
        "main nav numpad mouse";
}
#mainKeys, #functionKeys, #navigationKeys, #numpadKeys, #mouseInputs {
    min-width: fit-content;
}
.displayRow {
    height: var(--key-side-length);
    display: flex;
    justify-content: center;
}
.displayInput {
    width: var(--key-side-length);
    height: var(--key-side-length);
}


/* Main keys */
#mainKeys { grid-area: main; }

/* Function keys */
#functionKeys { grid-area: func; }
#functionKeys .displayRow { margin-bottom: var(--gap-length); }

/* Navigation keys */
#navigationKeys {
    grid-area: nav;
    margin-left: var(--gap-length);
}
#navigationKeys .displayRow:nth-child(1) { margin-bottom: var(--gap-length); }

/* Numpad keys */
#numpadKeys {
    grid-area: numpad;
    margin-left: var(--gap-length);

    display: grid;
    grid-template-areas:
        "nl sl st mi"
        "n7 n8 n9 pl"
        "n4 n5 n6 pl"
        "n1 n2 n3 en"
        "n0 n0 pe en";
}
#keycode_96 { grid-area: n0; width: calc(var(--key-side-length) * 2); }
#keycode_97 { grid-area: n1; }
#keycode_98 { grid-area: n2; }
#keycode_99 { grid-area: n3; }
#keycode_100 { grid-area: n4; }
#keycode_101 { grid-area: n5; }
#keycode_102 { grid-area: n6; }
#keycode_103 { grid-area: n7; }
#keycode_104 { grid-area: n8; }
#keycode_105 { grid-area: n9; }
#keycode_144 { grid-area: nl; }
#keycode_111 { grid-area: sl; }
#keycode_106 { grid-area: st; }
#keycode_109 { grid-area: mi; }
#keycode_107 { grid-area: pl; height: calc(var(--key-side-length) * 2); }
#keycode_13b { grid-area: en; height: calc(var(--key-side-length) * 2); }
#keycode_110 { grid-area: pe; }


/* Mouse inputs */
#mouseInputs {
    grid-area: mouse;
    margin-left: var(--gap-length);
}


/* On hover */
.displayInput:hover {
    /* box-shadow: black; */
    background-color: lightskyblue;
}
