/* Temp */
/* #functionKeys, #numpadKeys { opacity: 25%; } */


/* Display styling */

/* Input display */
#inputDisplay {
    --key-side-length: 28px;
    --key-gap: 1px;

    --display-area-gap: 8px;
    --display-area-padding: 5px;
}

/* Display area */
.displayArea { background-color: antiquewhite; }
#mouseInputs {
    border-top-left-radius: var(--key-side-length);
    border-top-right-radius: var(--key-side-length);
}


/* Default key styling */
.displayInput {
    --key-border-width: 2px;
    border-style: solid;
}

.triggerInput {
    border-color: rgb(31, 21, 119);
    background-color: royalblue;
}

.modifierKey {
    border-color: rgb(146, 39, 66);
    background-color: rgb(230, 87, 122);
}

.unavailableKey {
    border-color: rgb(71, 71, 71);
    background-color: gray;
}


/* On hover key styling */
.triggerInput:hover {
    border-color: royalblue;
    background-color: rgb(31, 21, 119);
}

.modifierKey:hover {
    border-color: rgb(207, 59, 72);
    background-color: rgb(160, 37, 58);
}


/* Highlighted key styling */
.triggerInput.highlightedKey {
    border-color: rgb(84, 118, 212);
    background-color: rgb(163, 201, 243);
}

.modifierKey.highlightedKey {
    border-color: rgb(196, 56, 91);
    background-color: rgb(252, 176, 195);
}
