/* Filter bar & shortcuts list */
#SECTION_filterBar, tr {
    display: grid;
    grid-template-areas: "a b c d e f g";
    grid-template-columns: 35px 4fr 5fr 5fr 10fr 10fr 10fr;
}

.shortcutsFilter, td {
    padding: 5px;
    border-left: solid 1px #555;
    overflow: hidden;
}


/* Filter bar */
#filterIcon {
    background-color: #a777e6;
}


/* Shortcuts list */
table {
    border-spacing: 0;
    width: 100%;
}

table * {
    background-color: #222;
    color: whitesmoke;
}

tr {
    height: fit-content;
    border-bottom: solid 1px whitesmoke;
}

td {
    white-space: pre-line;
}